<body class="demo-disable-bg-image">
    <h1>Country Browser</h1>
    <div>
        <oj-input-text id="text-input" value="{{country}}"></oj-input-text>
<!--        <input-country country-name="{{country}}" country-selection-handler={{handleCountrySelection}} />
-->
    </div>
    <h2 data-bind="text: upperCountry"></h2>
    <iframe id="countryIframe" data-bind="attr: {src:  'https://en.wikipedia.org/wiki/'+country()}" style="overflow-y : hidden ; height : 600px ; width :  100% ;border-width:0;"
        scrolling="yes" />
    </div>
</body>